
#page-create-donate{
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

#page-create-donate header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#page-create-donate header a{
  color: var(--full-color);
  font-weight: bold;
  display: flex;
}

#page-create-donate header a::before{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url('../assets/seta-esquerda.svg');
  margin-right: 16px;
}

form{
  background-color: #fff;
  max-width: 730px;
  padding: 64px;
  border-radius: 8px;
  margin: 80px auto;
}

form h1{
  font-size: 36px;
}

form fieldset{
  border: none;
  margin-top: 40px;
}

form legend{
  margin-bottom: 40px;
}

form legend h2{
  font-size: 24px;
}

form .field{
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 24px;
}

form .field-group{
  display: flex;
}

form input, form select {
  border: none;
  background-color: var(--font-background);
  padding: 16px 24px;
  font-size: 18px;
  outline: none;
  border-radius: 8px;
}

/* form select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */

form label{
  font-size: 14px;
  margin-bottom: 10px;
}

form .field-group .field + .field{
  margin-left: 24px;
}

form button{
  width: 260px;
  height: 55px;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
  transition: background-color 400ms;
}

form button:hover{
  background-color: var(--hover-color);
  cursor: pointer;
}

.item-grid{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.item-grid li {
  background-color: var(--font-background);
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px 24px 16px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  margin-top: 12px;
}

.item-grid li span{
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--full-color);
}

.item-grid li img{
  width: 80px;
}

.item-grid li.selected{
  background-color: #e1faec;
  border: 2px solid #34cb79;
}

.item-grid li img,
.item-grid li span{
  pointer-events: none;
}