:root{
  --font-robot: 'Roboto', sans-serif;
  --font-ubuntu: 'Ubuntu', sans-serif;
  --full-color: #322153;
  --primary-color: #2cbff4;
}

*{
  margin: 0;
  padding: 0;
}

html{
  font-family: var(--font-robot);
}

img{
  width: 100%;
  max-width: 100%;
}

a{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-ubuntu);
}

body{
  background-color: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

header img{
  width: 70px;
  margin-left: 0;
}